* {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.nav {
    margin:auto;
    font-size: 12px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    padding: 15px;
    text-shadow:
    .5px .5px 0 #079CFD,
    -.5px .5px 0 #079CFD,
    .5px -.5px 0 #079CFD,
    -.5px -.5px 0 #079CFD,
    0px .5px 0 #079CFD,
    0px -.5px 0 #079CFD,
    -.5px 0px 0 #FE940E,
    .5px 0px 0 #079CFD,
    1px 1px 0 #079CFD,
    -1px 1px 0 #079CFD,
    1px -1px 0 #FE940E,
    -1px -1px 0 #FE940E,
    0px 1px 0 #FE940E,
    0px -1.5px 0 #EFF1F4,
    -1.5px 0px 0 #EFF1F4,
    1.5px 0px 0 #EFF1F4,
    .5px 1.5px 0 #EFF1F4,
    -.5px 1.5px 0 #EFF1F4,
    .5px -1.5px 0 #EFF1F4,
    -.5px -1.5px 0 #EFF1F4,
    1.5px .5px 0 #EFF1F4,
    -1.5px .5px 0 #EFF1F4,
    1.5px -.5px 0 #EFF1F4,
    -1.5px -.5px 0 #EFF1F4;
}

.footer{
    height: 8vh;
    background: black;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.topImage {
    height: 100px;
    width: 100px;
    background: purple
}

.detailContainer{
    height: 600px;
    width: 100%;
    background-color: beige;
    border: black 1px solid
}

.contactInfo{
    position: relative;
    display: inline-block;
    height: 20vh;
    width: 100%;
    color: rgba(220, 220, 220, 1);
}

.appBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: cover;
    background-size: cover;
    background-position: center;
    min-width: 200px;
    background-image: url("./imagBack.jpg");
    min-height: 100vh;
}

.style {
        padding: 10px;
        align-content: center;
        letter-spacing: .01em;
        display: inline-block;
        margin: 10px 15px auto;
        width: 90%; min-width: 240px;
        border: black 1px solid;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        top: 10%;
        border-radius: 5px;
        min-height: 250px;
    }

.navbarLink{
    color: black;
    font-size: 3vw;
    font-family: 'Lobster', Georgia, Times, serif;
    text-decoration-style: solid white 1px;
}

.bioParagraph {
  font-family: 'Oswald', sans-serif;
}

.navbarLink:hover{
    color: aliceblue;
}

.navbarLink:active{
    color: white;
}

.fa{
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
    color: black;
}

.fa:hover{
    color: aliceblue;
   -moz-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
}

a:focus{
    color: snow;
}

@media screen and (min-width: 625px){
    .style {
        max-width: 45%;
        padding-left: 3vw;
    }
}

#breathing-image {
    width: 270px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #d1d1d1;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    font-size: 24px;
    background: #5885cb;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    text-align: center;
    }

#breathing-navbarIcons {
  -webkit-font-smoothing: antialiased;
  -webkit-animation: breathing 7s ease-out infinite normal;
  animation: breathing 7s ease-out infinite normal;
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
